@model Producer

@{
    ViewData["Title"] = "Xóa nhà sản xuất";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>Nhà sản xuất</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
    </dl>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở về danh sách</a>
    </form>
</div>

@section Scripts
{
    @{ 
        await Html.RenderPartialAsync("KichHoatDieuHuongScriptsPartial.cshtml", "NSX");
    }
}