@model HomeViewModel

@{
    ViewData["Title"] = "Trang chủ";
}

<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Thu nhập (ngày)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@String.Format("{0:### ### ### ##0 VND}", Model.TongTienNgay)</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Thu nhập (ngày) (đã gồm VAT)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@String.Format("{0:### ### ### ##0 VND}", Model.TongTienNgay*110/100)</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Thu nhập (tháng)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@String.Format("{0:### ### ### ##0 VND}", Model.TongTienThang)</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Thu nhập (tháng) (đã gồm VAT)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@String.Format("{0:### ### ### ##0 VND}", Model.TongTienThang * 110 / 100)</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Biểu đồ thu nhập qua mỗi tháng</h6>
        </div>
        <div class="card-body">
            <div class="chart-bar">
                <canvas id="myBarChart"></canvas>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script src="~/lib/Chart.js/Chart.min.js"></script>
    <script src="~/mystyle/js/demo/chart-bar-demo.js"></script>
}