@{ 
    ViewData["Title"] = "Từ chối truy cập";
}

    <div class="text-center">
        <h1 class="text-danger">Truy cập bị từ chối</h1>
        <h6 class="text-danger">Bạn không có quyền để sử dụng chức năng này</h6>
        <img src="~/img/tuchoi.jpg" style="height:300px; width:300px"/>
    </div>