@model CountByCustomerDateViewModel

@{
    ViewData["Title"] = "Thống kê khách hàng theo ngày";
}

@section Styles
{
    <!-- Custom styles for this page -->
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thống kê khách hàng đã mua theo ngày</h6>
        <div style="margin-top:20px;">
            <form method="post">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-4 form-group">
                        <label asp-for="Dau" class="d-inline ml-5 control-label"></label>
                        <input asp-for="Dau" class="d-inline ml-2 form-control" style="width:50%;" />
                        <span asp-validation-for="Dau" class="d-block ml-5 text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="Cuoi" class="d-inline ml-5 control-label"></label>
                        <input asp-for="Cuoi" class="d-inline ml-2 form-control" style="width:50%;" />
                        <span asp-validation-for="Cuoi" class="d-block ml-5 text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <button type="submit" class="btn btn-outline-primary"><i class="fab fa-searchengin"></i> Thống kê</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="dtCustomerCount" width="100%" cellspacing="0">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center">Mã</th>
                        <th>Tên khách hàng</th>
                        <th class="text-right">Tiền đã mua</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Customers)
                    {
                        <tr>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ten)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.Tien)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ThuVienBangScriptsPartial.cshtml");
        await Html.RenderPartialAsync("KichHoatDieuHuongScriptsPartial.cshtml", "TKKHN");
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}